/*@import "~react-bootstrap-table/css/react-bootstrap-table.css"*/

html {
  background: url(../public/taplist.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0);
}

h1 {
  color: white;
  text-align: center;
}

.table {
  margin-bottom: 0px;
}

.App {
  text-align: center;
}

.find-brewery-button {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 25px;
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
    height: 600px;
    width: 400px;
    margin-bottom: 35px;
    margin-top: 20px;
}

.header {
  margin-top: 40px;
  color: white;
}

.home {
  width: 75%;
  height: 25%;
  background-color: grey;
  border: 5px solid white;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.beer-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-bs-table-container {
  width: 100%
}

.single-bar-tap-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
}

.single-bar-container {
  display: flex;
  justify-content: space-around;
}

.single-bar-location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 768px) {
    .single-bar-container {
      flex-direction: column-reverse;
      align-items: center;
    }

    .single-bar-location {
      width: 100%;
      align-items: flex-start;
    }
}
